@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  background: #fff;
}

header {
  background-image: linear-gradient(
    to right bottom,
    #5a15fd 0%, 
    #360ea1 33%, 
    #4b3779 66%, 
    #1770f5 100%
  );

  background-size: 200% 200%;
  animation: float 6s linear infinite alternate;
}

@keyframes float {
  form {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.search {
  max-width: 50rem;
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}

.input-wrapper {
  position: relative;
}

section {
  padding-inline: 6rem;
}

section input {
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  background-color: #fff;

  width: 100%;
  color: #5c7bf9;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.6rem;
  font-weight: 500;
}

input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgba(0, 30, 255, 0.25);
}

.input-wrapper i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  font-size: 1.6rem;
  color: #5c7bf9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;

  max-width: 112rem;
  width: 100%;
}

i {
  font-size: 4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 4rem 2rem;
  font-size: 2rem;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.6rem;
  background: #5c7bf9;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  font-size: 2.4rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.card:hover {
  background: #7231da;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .cards {
    min-width: fit-content;
    padding-inline: 6rem;
  }
}

@media (max-width: 920px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
